#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 1rem;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-column { flex-direction: column; }
